<div class="container">
    <form action="/" method="POST">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" autofocus>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña">
        </div>
        <div class="fomr-group">
            <p>
                <a href="">¿Olvidaste tu contraseña?</a>
            </p>
        </div>
        <div class="form-group">
            <button class="Sesion_button"> 
                Inciar Sesion
            </button>
        </div>
        <div class="fomr-group">
            <p>
                <a href="/account/register">Crear Cuenta</a>
            </p>
        </div>
    </form>
</div>