<div class="container-login">
    <div class="login-div">
        <div class="buttons-top-session">
                <button class="Sesion_button_reg" onclick="location='register'"> 
                    Crear Cuenta
                </button>
                <button class="Sesion_button_log"> 
                    Inciar Sesion
                </button>
        </div>
        <h1>BIENVENIDO!</h1>
        <form action="login" method="POST">
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" autofocus>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Contraseña">
            </div>
            <div class="form-group-a">
                <a href="/account/password">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="form-group">
                <button class="Sesion_button"> 
                    Inciar Sesion
                </button>
            </div>
        </form>
    </div>
</div>