<div class="password-container">
    <div class="password-div">
        <h2>RESTABLECER SU CONTRASEÑA</h2>
        <p>Le enviaremos un correo electrónico para restablecer su contraseña.</p>
        <input type="email" name="email" placeholder="Email">
        <button>
            Enviar
        </button>
        <a href="/account">
            Cancelar
        </a>
    </div>
</div>