<div class="container">
    <form action="/" method="POST">
        <div class="form-group">
            <input type="name" name="name" placeholder="Nombre" autofocus>
        </div>
        <div class="form-group">
            <input type="surname" name="surname" placeholder="Apellidos">
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña">
        </div>
        <div class="form-group">
            <button class="Sesion_button"> 
                Crear Cuenta
            </button>
        </div>
    </form>
</div>