<div class="container-about">
    <div class="about-div">
        <h1>Sobre Nosotros</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dignissim felis in posuere lacinia.
        Aliquam congue quis lectus ut egestas. Ut eu feugiat arcu. Nullam sodales ornare lreet.Maecenas
        eu vehicula ante velit vehicula erat.
        </p>
        <img src="../../images/about.jpg" alt="Hombre con camisa a cuadros">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nullam dignissim felis in posuere lacinia.
        eu vehicula ante velit vehicula erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nullam dignissim felis in posuere lacinia.
        eu vehicula ante velit vehicula erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nullam dignissim felis in posuere lacinia.
        eu vehicula ante velit vehicula erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nullam dignissim felis in posuere lacinia.
        eu vehicula ante velit vehicula erat.
        </p>
    </div>
</div>