<div class="container-contact">
    <div class="contact-div">    
        <h1>Contacto</h1>
        <form action="">
            <div class="form-group-1">
                <input type="text" name="nombre" placeholder="Nombre" autofocus required=required>
                <input type="text" name="apellidos" placeholder="Apellidos" required=required>
            </div>
            <div class="form-group">
                <input type="text" name="telefono" placeholder="Teléfono" required=required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required=required>
            </div>
            <div class="form-group">
                <textarea name="mensaje" id="mensaje" placeholder="Mensaje" cols="30" rows="10" required=required></textarea>
            </div>
            <div class="form-group">
                <button class="Sesion_button"> 
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>