@import url(navigation.css);
@import url(footer.css);

.order-div{
    display: flex;
    flex-direction: row;
}

.order-div-info{
    width: 65%;
    padding: 50px;
    border-right: #707070;
    border-right-style: solid;
    border-right-width: 2px;
}

.order-logo{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.order-title h2{
    font-size: 24px;
    margin: 10px;
}

.order-div-form{
    padding: 10px;
}

.order-user-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-user-name input{
    width: 47%;
    margin-top: 15px;
    font-size: 15px;
    padding: 10px;
}

.order-user-email input{
    width: 100%;
    margin-top: 30px;
    font-size: 15px;
    padding: 10px;
}

.order-user-more-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-user-more-info input{
    width: 30%;
    margin-top: 30px;
    font-size: 15px;
    padding: 10px;
}

.order-user-country input{
    width: 100%;
    margin-top: 30px;
    font-size: 15px;
    padding: 10px;
}

.order-user-phone input{
    width: 100%;
    margin-top: 30px;
    font-size: 15px;
    padding: 10px;
}

.order-buttons button{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 30%;
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    color:#ffffff;
    background-color:#B41901;
    border-color: #B41901;
    border-width: 3px;
    border-style: solid;
}

.order-buttons a{
    margin-left: 50px;
    font-size: 150%;
    text-decoration:none;
}

.order-buttons a:link,.order-buttons a:visited,.order-buttons a:active {
    text-decoration:none;
    color: #3D3D3D;
}

.order-products{
    padding-left: 50px;
    padding-top: 15px;
}

.found-cart-content{
    border-top-color: #707070;
    border-top-width: 2px;
    border-top-style: solid;
    display: flex;
    flex-direction: row;
    padding: 0px 5px;
    padding-top: 20px;
}

.found-cart-image img{
    width: 50%;
}

.found-cart-name h2{
    font-size: 23px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.order-discount{
    border-top-color: #707070;
    border-top-width: 2px;
    border-top-style: solid;
    margin-top: 15px;
    margin-left: 50px;
}

.order-discount input{
    width: 60%;
    margin-top: 15px;
    font-size: 15px;
    padding: 10px;
}

.order-discount button{
    width: 30%;
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
    color:#ffffff;
    background-color:#B41901;
    border-color: #B41901;
    border-width: 3px;
    border-style: solid;
}

.order-total-price{
    border-top-color: #707070;
    border-top-width: 2px;
    border-top-style: solid;
    margin-top: 30px;
    margin-left: 50px;
    
}

.order-total-price h4{
    text-align: end;
    display: inline-block;

    margin: 15px 20px;
}