<style>
    *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
  
.top-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 40px;
    border-bottom-color: #b4b4b4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
  
.main-navbar{
    justify-self: stretch;
}
  
.main-navbar > a{
    margin: 0px 10px;
  
}
  
.top-bar-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  
}

.button-site{
    margin: 0px 10px;
}

.main-navbar{
    margin: auto;
    padding-left: 100px;
}

.main-navbar a{
    text-decoration: none;
    color: #3D3D3D;
    font-size: 25px;
    
}

.main-navbar a:link,.main-navbar a:visited,.main-navbar a:active {
    text-decoration:none;
    color: #3D3D3D;
}

.main-navbar a:hover {
    color: #3D3D3D;
    border-bottom: #3D3D3D;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#cart{
    width: 110%;
    height: 110%;
}
*{
    margin: 0;
    padding: 0;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #3D3D3D;
    padding-top: 20px;
    border-top-color: #b4b4b4;
    border-top-width: 1px;
    border-top-style: solid;
}

.footer h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.footer p,a{
    font-size: 80%;
    line-height: 15px;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.policy{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-content: center;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 70px;
    border-top-color: #3D3D3D;
    border-top-width: 1px;
    border-top-style: solid;
}

.policy h3{
    font-size: 80%;
    margin-left: 20px;
    text-decoration: none;
}

.policy a{
    font-size: 80%;
    margin-left: 20px;
    text-decoration: none;
    color: #3D3D3D;
}

.links{
    display: flex;
    flex-direction: column;
}

.links a{
    font-size: 100%;
    margin-bottom: 15px;
    text-decoration:none;
}

.links a:link,.links a:visited,.links a:active {
    text-decoration:none;
    color: #3D3D3D;
}

.newsletter form{
    display:flex;
    align-items:Center;
}

.newsletter input{
    width: 80%;
    font-size: 18px;
    padding: 3px;
}

.card{
    padding: 60px;
    
}


</style>

            <div class="card">
                <div class="card-body">
                    <form action="/shop/add" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Title" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" name="price" class="form-control" placeholder="price" step="0.01">
                        </div>
                        <div class="form-group">
                            <textarea name="description" rows="2" class="form-control" placeholder="description"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="number" name="id_categories" class="form-control" placeholder="categoria">
                        </div>
                        </div>
                        <div class="form-group">
                            <input type="file" name="images" class="form-control" placeholder="imagenes" multiple>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-succes btn-block"> 
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>