<div class="container">
    {{#each products}}
            <div class="product-container">
                    <a href="/shop/product/{{id_products}}" class="product-link">
                        <p>{{name}}</p>
                    </a>
                    
            </div>
        {{else}}
            <div class="product-container">
                    <p>No hay productos disponibles</p>
            </div>
        {{/each}}
</div>