<div class="container-footer">
    <div class="footer">
        <div class="followus">
            <h2>FOLLOW US</h2>
            <div class="social-media">
                <a href="https://www.facebook.com">
                    <img src="../../images/icons/facebook.png">
                </a>
                <a href="https://www.twitter.com">
                    <img src="../../images/icons/twitter.png">
                </a>
                <a href="https://www.instagram.com">
                    <img src="../../images/icons/instagram.png">
                </a>
            </div>
        </div>
        <div class="contact">
            <h2>CONTACT</h2>
            <p>2150 Virginia Street, New York,NY 60154</p>
            <p>555-555-555</p>
            <p>name@company.com</p>
        </div>
        <div class="links">
            <h2>LINKS</h2>
            <a href="/">Home</a>
            <a href="../../shop">Shop</a>
            <a href="../../pages/about">About</a>
            <a href="../../pages/contact">Contact</a>
        </div>
        <div class="newsletter">
            <h2>NEWSLETTER</h2>
            <form>
                <input type="email">
                <button>></button>
            </form>
        </div>
    </div>
    <div class="policy">
        <h3>© 2021 ConCuadros.  All Rights Reserved.</h2>
        <a href="">Privacy Policy</a>
        <a href="">Terms of Service</a>
    </div>
</div>