
<nav class="top-bar">
    <div class="logo">
        <h1 class="site-header-logo">
            <a href="/" class="site-header-logo-image">
                <img src="../../images/logo.png">
            </a>
        </h1>
    </div>
        <nav class="main-navbar">
            <a href="/" id="home">Home</a>
            <a href="../../shop" id="shop">Shop</a>
            <a href="../../pages/about" id="about">About</a>
            <a href="../../pages/contact" id="contact-botton">Contact</a>
        </nav>
        <div class="top-bar-buttons">
            <div class="button-site">
                <button type="button">
                    <img src="../../images/icons/loupe.png">
            </button>
        </div>
        <div class="button-site">
            <a href="../../account">
                <img src="../../images/icons/user.png">
            </a>
        </div>
        <div class="button-site">
            <a href="../../cart">
                <img src="../../images/icons/shopping-bag.png" id="cart">
            </a>
        </div>
    </div>
</nav>