
<nav class="top-bar">
    <div class="logo">
        <h1 class="site-header-logo">
            <a href="/" class="site-header-logo-image">
                <img src="../images/logo.png">
            </a>
        </h1>
    </div>
        <nav class="main-navbar">
            <a href="/">Home</a>
            <a href="../shop">Shop</a>
            <a>About</a>
            <a>Contact</a>
        </nav>
        <div class="top-bar-buttons">
            <div class="button-site">
                <button type="button">
                    <h3>Search</h3>
            </button>
        </div>
        <div class="button-site">
            <a href="../account">
                <h3>Login</h3>
            </a>
        </div>
        <div class="button-site">
            <a href="">
                <h3>Cart</h3>
            </a>
        </div>
    </div>
</nav>